{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Новый вопрос'|trans}}</h1>

    {{ form(form) }}

    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-default" href="{{ path('manager_faq') }}">
	            {{'Назад'|trans}}
	        </a>
	    </div>
	</div>
{% endblock %}
