{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'FAQ creation'|trans}}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('manager_faq') }}">
            {{'Назад'|trans}}
        </a>
    </li>
</ul>
{% endblock %}
