{% extends 'CMSBundle:Templates:'~template|default('two_sidebars.html.twig') %}
{% block title %}{{'FAQ'|trans}}{% endblock %}
{% block body %}
    <h1>{{'FAQ'|trans}}</h1>
    {% for q in faq %}
    <div class="row-fluid">
        <div class="question">{{q.question}}</div>
        <div class="answer">{{q.answer}}</div>
    </div>
    {% endfor %}
{% endblock %}
