{% extends "CMSBundle:Templates:"~template|default(cms.base_template) %}

{% block body %}
<h1>Клининговая компания &laquo;Преображение&raquo; - это химчистка мебели, ковров, уборка помещений.</h1>
<div class="inner">
	<p>Все эти виды услуг вы можете заказать в нашей компании.</p>
	<p>Наверняка каждый из вас сталкивался с проблемой недобросовестного оказания услуг, в компании &laquo;Преображение&raquo; мы уделили этому максимум внимания.</p>
	<ol>
		<li>Сделать заказ Вы можете по телефону или по электронной почте. Менеджер компании перезвонит вам для уточнения заказа в тот же день.</li>
		<li>При заказе мы ответим на все вопросы по оказанию услуги. Как протекает процесс, какие средства и оборудование используется, сколько время займет чистка и как скоро вы сможете пользоваться обновленным ковром или диваном.</li>
		<li>Менеджер компании сразу скажет Вам сколько стоит ваш заказ и мы не возьмем с Вас дополнительной платы за выезд, за занос оборудования и так далее.</li>
		<li>Вам будет назначен определенный день и точное время, которое удобно вам. Вы не будете ждать мастера целый день, он приедет во время. </li>
		<li>После приема работы и оплаты Мастер выдаст Вам соответствующие документы, будь то оплата наличными или безналичным платежом.</li>
		<li>При появлении вопросов или пожеланий Вы всегда сможете связаться с менеджером или оставить свой отзыв на сайте компании. </li>
	</ol>
	<p>Таким образом, решив произвести:</p>
	<ul>
		<li>химчистку мебели (диван, кресло,стулья, матрас и т.д.);</li>
		<li>химчистку ковров(ковролина);</li>
		<li>генеральную или после ремонта уборку (включая чистку окон).</li>
	</ul>
	<p>Звоните нам - и специалисты возьмутся за работу!</p>
</div>
{#{{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}
{% set options = {'type':'news','class':['new'],'carousel':'true','slides':2} %}
{{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}
{% set options = {'type':'gallery'} %}
{{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}#}
{% endblock %}