/* #element1 .navbar-default {
	background: none;
	border: none;
}
#element1 .nav > li > a {
	padding: 10px 10px;
}
#element1 .navbar-toggle {
	width: 100%;
}
#element1 .navbar-toggle .icon-bar {
	float: right;
	clear: right;
}
#element1 .navbar-collapse {
	max-height: none;
	padding: 0;
}
@media(max-width: 992px) {
	#element1 .navbar-nav {
		float: left;
	}
	#element1 .navbar-collapse {
		padding: 0 15px;
	}
}
.navbar-toggle {
	margin-right: 0;
}
.navbar-static-bottom {
	margin-bottom: 0;
	border-bottom: 0;
}
 */