{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Новая страница'|trans}}</h1>

    {{ form(form, {'style':'horizontal'}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            {{'Назад'|trans}}
        </a>
    </li>
</ul>
<script type="text/javascript">
$('#alkr_cmsbundle_page_title').blur(function(){
	$('#alkr_cmsbundle_page_url').val($(this).val().replace(/ /g,'-').replace(/[^-а-яА-Я0-9\w]/g,'').toLowerCase())
})
$('#alkr_cmsbundle_page_parent').change(function(){
    if($(this).val()!='')
    {
        cat = $(this).find('option:selected').parent().attr('label')
        $.each($('#alkr_cmsbundle_page_category option'),function(){
            if($(this)[0].text == cat)
                $(this).attr('selected',true)
        })
        $('#alkr_cmsbundle_page_category').attr('disabled',true)
    }
    else
        $('#alkr_cmsbundle_page_category').attr('disabled',false)
})
$('#alkr_cmsbundle_page_parent').change()
$('form').submit(function(){
    $('#alkr_cmsbundle_page_category').attr('disabled',false)
})
CKEDITOR.config.protectedSource.push( /<script[\s\S]*?script>/g );
CKEDITOR.config.allowedContent = true;
</script>
{% endblock %}
