{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>{{'Category creation'|trans}}</h1>

    {{ form(form, {'style':'horizontal'}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            {{'Назад'|trans}}
        </a>
    </li>
</ul>
{% endblock %}
