{% extends "CMSBundle:Templates:"~template|default(cms.base_template)~".html.twig" %}

{% block body -%}
    <h1>{{'Новый отзыв'|trans}}</h1>

    {{ form(form) }}

    <div class="row form-group">
        <div class="col-md-10 col-md-push-2">
            <a class="btn btn-default" href="{{ path('review') }}">
	            {{'Назад'|trans}}
	        </a>
	    </div>
	</div>
{% endblock %}
