{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>Редактировать баннер</h1>

    {{ form(edit_form,{'style':'horizontal'}) }}

        <a href="{{ path('manager_banner') }}">
            назад
        </a>
    {{ form(delete_form) }}
{% endblock %}
