{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>Баннеры</h1>

    {% for entity in entities %}
        <div class="row-fluid">
            {{ entity.title }} <a href="{{ path('manager_banner_edit', { 'id': entity.id }) }}">{{ icon('pencil') }}</a>
        </div>
    {% endfor %}

    <br/>
    <a href="{{ path('manager_banner_new') }}">
        <button class="btn btn-success">
            Создать
        </button>
    </a>
{% endblock %}
