{% extends 'CMSBundle:Default:manager.html.twig' %}

{% block body -%}
    <h1>Новый баннер</h1>

    {{ form(form,{'style':'horizontal'}) }}

        <a href="{{ path('manager_banner') }}">
            Назад
        </a>
{% endblock %}
