{% extends 'CMSBundle:Base:base.html.twig' %}

{% block style %}
    {% stylesheets filter="compass" debug=true
        "@CMSBundle/Resources/assets/css/full_width.sass"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{% block body %}
		{% endblock %}
	</div>
</div>
{% endblock %}