// Для src
// @import "../css/bootstrap/variables";
// @import "../../../../../../vendor/twbs/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";

@import "../../../../../../../../src/alkr/ExtendCMSBundle/Resources/assets/css/bootstrap/variables";
@import "../../../../../../../twbs/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";

.content {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(8);
  @media (min-width: $screen-md-min) {
    float: right;
  }
  @media (max-width: $screen-md-min) {
    padding: 0;
  }
}

.sidebar.left{
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(4);
  @media (max-width: $screen-md-min) {
    padding: 0;
  }
}